.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A121F;
    padding: 10px 100px;
}

* {
margin: 0;
font-family: "Open Sans", sans-serif;
}
.linkler a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.buton a{
    color: white;
    text-decoration: none;
    background-color: #3A68B8;
    padding: 12px 20px;
    border-radius: 10px;
}
.fa-list {
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: none !important;
}
h4 {
    color: #3A68B8;
    font-size: 18px;
    margin: 5px 0px;
}
h1 {
    font-size: 45px;
    color: white;
}
.giris {
    padding: 50px 100px;
    background-color: #08101E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p {
    font-size: 16px;
    color: #FFFFFF;
    margin: 50px 0px;
}
.giris1 a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #3A68B8;
    padding: 15px 30px;
    border-radius: 10px;
}
.spons img {
    background-color: #08101E;
    width: 210.1vh;
}







































/* burada responsivlik kodlarimiz olacaq */
@media(max-width: 930px) {
    .linkler,.buton {
        display: none;
    }
    .fa-list {
        display: block !important;
    }
}
@media(max-width: 1168px) {
   
    .giris {
        display: inline-block;
        padding: 0;
    }
    .giris1 p {
        font-size: 14px;
    }
    .giris1 h4 {
        margin-top: 10px;
    }
    .giris1 h1 {
        font-size: 40px;
    }

}
